
/*  I D I O M A S  */

a {
    text-decoration: none;
}

.titulo-español {
    color: white;
    font-family: "Abhaya Libre", serif;
}

.lang-menu {
    position: relative;
    width: 100px;
    text-align: right;
    font-weight: bold;
    margin-top: 35px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid yellow;*/
}
.lang-menu .selected-lang {
    display: flex;   
    justify-content: space-between;
    line-height: 4;
    cursor: pointer;
}
.lang-menu .selected-lang:before {
    position: relative;
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    background-image: url(/Bandera\ de\ Colombia.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    top: 20px;
    margin-right: 5px;
}

.lang-menu ul {
    margin: 0;
    padding: 0;
    display: none;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    position: absolute;
    top: 45px;
    right: 0px;
    width: 130px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
}


.lang-menu ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.lang-menu ul li a {
    text-decoration: none;
    width: 125px;
    padding: 5px 5px;
    display: block;
    font-family: "Abhaya Libre", serif;
}

.lang-menu ul li:hover {
    background-color: #f2f2f2;
}

.lang-menu ul li a:before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.de:before {
    background-image: url(/Bandera\ de\ EEUU.jpg);
}

.en:before {
    background-image: url(/Bandera\ de\ Brasil.png);
}
.fr:before {
    background-image: url(/Bandera\ de\ Francia.png);
}

.lang-menu:hover ul {
    display: block;
    z-index: 10;
}