
/*   P A G A - D E S D E - C A S A  */

.seccion-paga-desde-casa {
    background-color: #01060D;
    border-top: 2px solid white;
    height: 270px;
}

.titulo-paga-desde-casa {
    position: relative;
    color: white;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Abhaya Libre", serif;
    top: 40px;
}

.contenedor-contenido-paga-desde-casa {
    position: relative;
    top: 75px;
}

.descripcion-paga-desde-casa {
    position: relative;
    color: white;
    font-size: 22px;
    font-family: "Antic Didone", serif;
    padding-left: 70px;
    bottom: 20px;
}

.contenedor-formas-de-pagos {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    top: 10px;
    gap: 80px;
}

.logo-forma-pago {
    width: 90px;
    height: 90px;
    background: #01060D;
}

.logo-forma-pago-5 {
    width: 130px;
    height: 80px;
    background: #01060D;
}

.logo-forma-pago-2 {
    width: 130px;
    height: 70px;
    background: #01060D;
}

.logo-forma-pago-4 {
    width: 80px;
    height: 80px;
    background: #01060D;
}

.logo-forma-pago-1 {
    width: 100px;
    height: 100px;
    background: #01060D;
}